/* Estilos de la barra de navegación */
body {
    margin: 0;
	font-family: 'Sen', sans-serif;
}
.navbar {
	background-color: #8ebdb6;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
    height: 69px;
	font-family: 'Alata', sans-serif;
	font-size: 48px
}
.nombre{
	margin-left: 2px;
}
/* Estilos del enlace del nombre del programa */
.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 10px 80px;
	text-decoration: none;
	font-size: 40px;
}

/* Estilos del formulario de búsqueda */
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    padding-top: 0%;
}

/* Estilos del campo de entrada de búsqueda */
.search-input {
	border: none;
    height: 69px;
    width: 500px;
    background-color: #063940;
    font-size: 20px;
	margin-right: 300px;
}
/* Estilos del contenido de la página */
.content{
	margin-top: 100px;
}
/*sidebar*/
.sidebar {
	position: fixed;
	top: 69px;
	left: 0;
	bottom: 0;
	width: 80px;
	background-color: #063940;
	overflow: auto;
}
.sidebar a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}
.sidebar a:hover {
	background-color: #ddd;
}
.titulo{
	font-size: 72px;
	margin-left: 340px;
	margin-top: 50px;
	color: #8ebdb6;
}
.container-boxes{
	width: 800px;
	height: 300px;
	margin-left: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.box{
	height: 120px;
	width: 150px;
	border: 2px solid gray;
	margin: 20px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: end;
}
p{
	font-size: 20px;
}
.fa-bell{
	margin-left: 1px;
	color: white;
}