/* Estilos barras de navegacion */
body {
    margin: 0;
	font-family: 'Rubik', sans-serif;;
}
.navbar {
    display: flex;
    flex-direction: row;
	background-color: #8ebdb6;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
    height: 69px;
	font-family: 'Alata', sans-serif;
	font-size: 48px
}
.fa-bell{
	font-size: 35px;
    transition: 0.4s;
    margin-left: 70px;
    margin-top: 17px;
    cursor: pointer;
}
.fa-bell:hover{
    color: white;
}
.fa-magnifying-glass{
    font-size: 30px;
    margin-left: 8px;
}
.right-icon {
    font-size: 35px;
    text-align: center;
    margin-left: 350px;
    margin-top: 17px;
    transition: 0.4s;
    cursor: pointer;
}
.right-icon:hover{
    color: white;
}
.nombre{
	font-family: 'Rubik', sans-serif;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 50px;
    position: initial;
    margin-left: 20px;
}
.search-form {
    margin-left: 50px;
    display: flex;
    align-items: center;
    padding: 14px 0;
    padding-top: 0%;
	max-width: 900px;
    height: 100%;
    background-color: #0c626d;
}
.search-input {
    border: none;
    height: 69px;
    width: 500px;
    background-color: #0c626d;
    font-size: 18px;
	margin-left: 5px;
}
::placeholder{
	color: rgb(41, 41, 41);
	padding: 0 0 0 5px;
}
.sidebar {
	position: fixed;
	top: 69px;
	left: 0;
	bottom: 0;
	width: 80px;
	background-color: #0c626d;
	overflow: auto;
	font-size: 10px;
    padding-top: 20px;
}
.sidebar a {
	height: 60px;
	width: 60px;
	display: block;
	color: #000;
	padding: 8px;
	text-decoration: none;
}
.sidebar a:hover {
	color: #8ebdb6;
}
.sidebar a i {
	display: flex;
	align-items: center;
	justify-content: center;
    font-size: 30px;
    transition: 0.4s;
}
/* fin estilos barras de navegacion */
.content{
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.titulo{
	font-family: 'Rubik', sans-serif;
	font-size: 60px;
	margin-left: 400px;
	margin-top: 100px;
	color: #8ebdb6;
	text-shadow: 2px 2px 4px rgb(65, 255, 223);
}
.container-boxes{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.box{
	height: 120px;
	width: 150px;
	border: 2px solid gray;
	margin: 20px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	font-size: 20px;
	text-decoration: none;
	color: black;
	padding-top: 20px;
	transition: 0.4s;
}
.box:hover{
	background-color: #8ebdb6 ;
    cursor: pointer;
}
.box i{
	font-size: 60px;
}
.banner{
    font-family: 'Source Sans Pro', sans-serif;
	position: fixed;
    width: 100%;
	top: 69px;
	left: 80px;
    height: 80px;
	overflow: auto;
    background-color: #b1b2b5;
    display: flex;
    align-items: center;
}
.banner h1{
    margin-left: 40px;
    color: white;
    text-align: center;
}

