@import url(../style.css);
.banner button{
    color: white;
    background-color: #3b3b3b;
    position: fixed;
	left: 1200px;
	overflow: auto;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.banner button:hover{
    background-color: #8ebdb6;
    border: 1px solid white;
}
.content{
    position: fixed;
    width: 100%;
	top: 70px;
	left: 50px;
	overflow: auto;
}
.search {
    border: 1px solid rgb(168, 168, 168);
    margin-left: 40px;
    align-items: center;
    padding: 14px 0;
    padding-top: 0%;
	width: 350px;
    height: 20px;
    background-color: white;
}
.input {
    border: none;
    height: 15px;
    width: 300px;
    background-color: white;
    font-size: 18px;
	margin-left: 5px;
    margin-top: 6px;
    margin-bottom: 5px;
}
.fa-magnifying-glass{
    font-size: 16px;
    margin-left: 5px;
}
.datos-prod{
    background-color: grey;
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-left: 35px;
    top: 220px;
}
.datos-prod div{
    font-size: 25px;
    margin: 5px;
    border: none;
    background-color: #B1B2B5;
    color: #555252;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 3px;
}
.datos-prod div h1{
    text-decoration: black;
    font-size: 16px;
    font-weight: bold;
}
table{
    position: fixed;
    top: 370px;
    border-collapse: collapse; 
    width: 500px;
    margin-left: 300px;
    font-size: 18px;
}
th{
    border: 2px solid white;
    width: 150px;
    padding: 5px;
    background-color: #B1B2B5;
}
td{
    border: 2px solid white;
    text-align: center;
    padding: 5px;
}