@import url(../style.css);
.banner button{
    color: white;
    background-color: #3b3b3b;
    position: fixed;
    overflow: auto;
	left: 1200px;	
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    
}
.banner button:hover{
    background-color: #8ebdb6;
    border: 1px solid white;
}
.datos-prov{
    background-color: #a3a3a3;
    margin-left: 80px;
    margin-top: 148px;
    padding: 10px 10px;
    display: flex;
}
.lado-izquierdo{
    top: 0;
    left: 0;
}
.lado-derecho{
    top: 0;
    right: 0;
}
#estado{
    background-color: rgb(1, 150, 1);
    color: white;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 35px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.content{
    width: 700px;
    margin: 25px 30%;
}
td{
    padding: 20px;
}
.caja{
    margin: 35px 30%;
    width: 500px;
    text-align: center;
    padding: 5px;
    border: solid 1px;
    border-style: dashed;
    color:#a3a3a3;
}